# Quick open config files {{{1
alias ea="vim ~/.aliases"
alias ev="vim ~/.vimrc"
alias ei3="vim ~/.config/i3/config"
alias eb="vim ~/.bashrc"
alias err="vim ~/.config/ranger/rc.conf"
alias ers="vim ~/.config/ranger/scope.sh"

# Quickly move to frequently used directories {{{1
alias cdla="cd ~/.ansible_playbook"
alias cdld="cd ~/.dockerapps"
alias cd.="cd ~/.dotfiles"

# iteratec specifics {{{2
if [ -d ~/Development/iteratec ]
then
  alias cdi="cd ~/Development/iteratec"
  alias cdioo="cd ~/Development/iteratec/osm/OpenSpeedMonitor"
  alias cdiod="cd ~/Development/iteratec/osm/docker-dev-environment"
  alias cdih="cd ~/Development/iteratec/hlag_customer_feedback_app"
fi

# Directory and file listings {{{1
alias ls="lsd --group-dirs first"
alias ll="lsd --group-dirs first --date relative --almost-all --human-readable --long"
alias lt="lsd --group-dirs first --date relative --almost-all --human-readable --long --tree"

alias ccat="pygmentize -O full,style=base16-bright"

# Docker shortcuts {{{1
alias di="docker image"
alias dc="docker container"
alias dv="docker volume"
alias dn="docker network"


# vim: set ft=sh: {{{1
