# Use vim like keybindings and modes
set editing-mode vi
# Show the current vi mode in the prompt
set show-mode-in-prompt on
# Show a block cursor for command mode
set vi-cmd-mode-string "\1\e[2 q\2"
# Show a beam "|" cursor for insert mode
set vi-ins-mode-string "\1\e[6 q\2"
