# This is Git's per-user configuration file.
[user]
	name = Benny Li
	email = dev@benny-li.de

[alias]
	p = pull -r
	ls = log --decorate=short --oneline --graph
	s = status
	ds = diff --staged
	ss = stash save
	sp = stash pop
