[Desktop Entry]
Type=Application
Name=gitmoji Reference
Categories=Network
Path=/usr/local/bin
Exec=firefox-dev-kiosk "https://gitmoji.carloscuesta.me"
Icon=gitmoji
