[Desktop Entry]
Type=Application
Name=Notizen - Ablage
Categories=TextEditor;
Path=/usr/bin
Exec=termite --name="Notizen - Ablage" --title="Emacs" --exec "/usr/bin/emacs -nw /home/bln/Dokumente/Notizen/Ablage.org"
Icon=emacs
