[Desktop Entry]
Type=Application
Name=Notizen - Täglich Brot
Categories=TextEditor;
Path=/usr/bin
Exec=termite --name="Notizen - Täglich Brot" --title="Emacs" --exec "emacs -nw '/home/bln/Documents/Notizen/Täglich Brot.org'"
Icon=emacs
