[Desktop Entry]
Type=Application
Name=PlanMaker 2018
Categories=Application;Office;Spreadsheet;
Path=/home/bln/Development/laptop/docker-apps/apps/softmaker-office
Exec=/home/bln/Development/laptop/docker-apps/apps/softmaker-office/planmaker18.sh
Icon=pml18
MimeType=application/x-pmd;application/x-pmdx;application/x-pmv;application/excel;application/x-excel;application/x-ms-excel;application/x-msexcel;application/x-sylk;application/x-xls;application/xls;application/vnd.ms-excel;application/vnd.stardivision.calc;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroEnabled.12;application/x-dif;text/spreadsheet;text/csv;application/x-prn;application/vnd.ms-excel.sheet.binary.macroenabled.12;
